<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apropos</title>
</head>
<body>
        <div style="width: 50%; margin: auto; ">
<%- include('header')%>
        <section>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi sed quos aliquam qui perspiciatis quasi soluta aspernatur necessitatibus obcaecati officiis harum tempore non suscipit ea deleniti veritatis ut fuga consequatur nemo tempora eos, aliquid et. Ea suscipit, nostrum numquam odio cumque veritatis labore sunt unde consectetur! Aut quod cum harum? Facilis distinctio voluptatum omnis dignissimos, molestiae eius, veniam quis fugit dicta illo incidunt? Ipsa ea incidunt optio esse qui quasi. Est nihil dolor praesentium voluptates totam! Facere atque, nostrum sapiente architecto iusto natus blanditiis quo eos accusantium esse voluptatum voluptates tenetur minima culpa hic dicta. Sint natus vel neque beatae?</p>
        </section>


    </div>
</body>
</html>