
       <header>
            <h1>NoteApp</h1>
            <nav>
                <ul>
                <li><a href="/">Accueille</a></li>
                <li><a href="/apropos">Aprops</a></li>
                
                </ul>
            </nav>
        </header>
